.git
.gitignore
.idea
.vscode
*.iml
*.class
*.jar
*.log
node_modules
npm-debug.log
.DS_Store
.env
.env.local
.env.production.local
.data
.tools
logs
*.md
!README.md
.github
target/classes
target/generated-sources
target/maven-archiver
target/maven-status
*.orig
.gitattributes
.dockerignore
